@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Inter", sans-serif;
}

@media screen and (min-width: 480px) {
  .card:nth-child(7n + 1) {
    grid-column: auto/span 2;
    grid-row: auto/span 2;
  }
}

.responsive-text {
  font-size: clamp(0.75rem, 0.5rem + 1vw, 1.125rem);
  padding: clamp(0.5rem, 0.25rem + 2vw, 1.5rem);
}

/* hide card overlay while scrolling */
body.scrolling .group-hover\:flex {
  display: none !important;
}

/* Hide scrollbar but allow scroll */
.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome/Safari/Webkit */
}
